body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F6FA;
}

.main{
    margin-left: 88px;
    margin-top: 80px;
    margin-right: 40px;
    margin-bottom: 177px;
}

.sidebar{
    background-color: #DFEAFF;
}

.sidebar-image{
    margin-top: 40px;
    border: solid 10px;
}

.contacts{
    margin-left: 40px;
}

.contact-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-item{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.phone-number{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 10px;
}

.email{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
}

.below-contacts-header{
    margin-top: -16px;
}

.tech-skills{
    margin-left: 40px;
    margin-top: 40px;
}

.tech-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-list{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
    margin-left: -15px;
}

.other-skills{
    margin-left: 40px;
    margin-top: 40px;
}

.other-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.other-list{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
    margin-left: -15px;
}

.profession{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.name{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
    color: #425375;
}

.description{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -25px;
}

.projects{
    margin-top: 40px;
}

.projects-header{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #425375;
}

.projects-list{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: -25px;
    margin-top: -12px;
}

.project-name{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.project-info{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.accomplishments{
    margin-top: 40px;
}

.acc-title{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #425375;
}

.acc-name{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -12px;
    color: #6096FF;
}

.acc-name-23{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
    color: #6096FF;
}


.acc-list{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -5px;
    margin-left: -17px;
}

.education-header{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    color: #425375;
}

.university{
    color: #6096FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
}

.major{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -8px;
}

.time{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -12px;
}

.wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #FFFFFF;
}